---
import Icon from "astro-icon";
import Link from "../../components/ui/link.astro";
import { Image } from "astro:assets";
import { IMAGE_DATA_HOLDER } from "../../helpers/imageDataHolder";

export function getStaticPaths() {
  return IMAGE_DATA_HOLDER.map((data) => ({ params: { id: String(data.id) } }));
}

const { id } = Astro.params;

const { alt, description, position, src } = IMAGE_DATA_HOLDER.find(
  (data) => String(data.id) === id
) as any;

const nextImageUrl =
  position === "last" ? `/galerie/${0}` : `/galerie/${Number(id) + 1}`;
const prevImageUrl =
  position === "first" ? `/galerie/${14}` : `/galerie/${Number(id) - 1}`;
const homeUrl = "/#gallery";
---

<!-- Container filling the entire screen -->
<div class="relative w-screen h-screen bg-black flex items-center justify-center">
  <!-- Close (Home) Button -->
  <Link
    href={homeUrl}
    id="home"
    class="absolute top-4 right-4 text-red-700 hover:text-red-500 transition-colors"
    view-transition
  >
    <Icon name="fa-solid:times" class="w-6 h-6" />
  </Link>

  <!-- Previous Button -->
  <Link
    id="prev"
    href={prevImageUrl}
    class="absolute left-4 text-slate-500 hover:text-slate-300 transition-colors"
    view-transition
  >
    <Icon name="fa:arrow-left" class="w-6 h-6" />
  </Link>

  <!-- The Image (mark as shared element) -->
  <Image
    view-transition-name="gallery-image"
    src={src}
    alt={alt}
    quality="max"
    class="max-w-full max-h-full object-contain"
  />

  <!-- Next Button -->
  <Link
    id="next"
    href={nextImageUrl}
    class="absolute right-4 text-slate-500 hover:text-slate-300 transition-colors"
    view-transition
  >
    <Icon name="fa:arrow-right" class="w-6 h-6" />
  </Link>
</div>

<script>
  // Allow arrow keys & Esc to navigate
  document.addEventListener("keydown", (e) => {
    const key = e.key;
    let clickableElement:HTMLAnchorElement|null = null;
    switch (key) {
      case "ArrowRight":
        clickableElement = document.querySelector("#next");
        break;
      case "ArrowLeft":
        clickableElement = document.querySelector("#prev");
        break;
      case "Escape":
        clickableElement = document.querySelector("#home");
        break;
    }
    clickableElement?.click();
  });
</script>
