---
import Icon from "astro-icon";
import Link from "../../components/ui/link.astro";
import { Image } from "astro:assets";
import { IMAGE_DATA_HOLDER } from "../../helpers/imageDataHolder";

export function getStaticPaths() {
  return IMAGE_DATA_HOLDER.map((data) => ({ params: { id: String(data.id) } }));
}

const { id } = Astro.params;

const { alt, description, position, src } = IMAGE_DATA_HOLDER.find(
  (data) => String(data.id) === id,
) as any;
const nextImageUrl =
  position === "last" ? `/galerie/${0}` : `/galerie/${Number(id) + 1}`;
const prevImageUrl =
  position === "first" ? `/galerie/${14}` : `/galerie/${Number(id) - 1}`;
const homeUrl = "/#gallery";
---

<div class="flex justify-between items-center w-124 h-screen bg-black bg-cover">
  <Link
    href={homeUrl}
    id="home"
    class="absolute right-0 top-0 flex gap-1 items-center justify-center">
    <Icon class="text-red-700 md:w-5 sm:w-10" name="fa-solid:times" />
  </Link>
  <Link
    id="prev"
    href={prevImageUrl}
    class="absolute left-0 flex gap-1 items-center justify-center">
    <Icon class="text-slate-500 md:w-5 sm:w-10" name="fa:arrow-left" />
  </Link>
  <Image
    quality={"max"}
    class="w-11/12 max-w-6xl max-h-full m-auto"
    alt={alt}
    src={src}
  />
  <Link
    id="next"
    href={nextImageUrl}
    class="absolute right-0 flex gap-1 items-center justify-center">
    <Icon class="text-slate-500 md:w-5 sm:w-10" name="fa:arrow-right" />
  </Link>
</div>
<script>
  document.addEventListener("keydown", (e) => {
    const key = e.key;
    let clicableElemtnt: HTMLButtonElement | null = null;
    switch (key) {
      case "ArrowRight":
        clicableElemtnt = document.querySelector("#next");
        break;
      case "ArrowLeft":
        clicableElemtnt = document.querySelector("#prev");
        break;
      case "Escape":
        clicableElemtnt = document.querySelector("#home");
    }
    clicableElemtnt?.click();
  });
</script>
