---
type Props = { item: { path: string; title: string } };
const {
  item: { path, title },
} = Astro.props;
const astroPathName = Astro.url.pathname
const isActive =  path==="/" ? astroPathName===path : astroPathName.startsWith(path) 
---

<li>
  <a
    href={path}
    class=`flex lg:px-3 py-2 hover:text-gray-900 ${isActive ? "text-gray-1000 underline underline-offset-2":"text-gray-600 "}`>
    {title}
  </a>
  {path},{astroPathName},{(astroPathName==="/" && path==="/")},{isActive}
</li>
