---
import { Image } from "astro:assets";
import type { GallerySectionData } from "../models";
import { IMAGE_DATA_HOLDER } from "../helpers/imageDataHolder";

type Props = Omit<GallerySectionData, "galleryImages">;

const { galleyText } = Astro.props;
---

<section id="gallery">
  <div class="flex flex-col mx-auto mt-12">
    <h2 class="font-bold text-3xl text-gray-800">Galerie</h2>
    <p class="text-lg leading-relaxed text-slate-500">
      {galleyText}
    </p>
  </div>
  <div
    class="grid md:grid-cols-5 sm: grid-cols-3 gap-10 mx-auto max-w-5xl mt-12">
    {
      IMAGE_DATA_HOLDER.map(({ alt, id, name, src }) => (
        <div class="group">
          <div class="w-full aspect-square">
            <a href={`/galerie/${id}`} class="postcard-link not-prose ">
              <article class={`postcard-article`}>
                <div class={`postcard-image-container`}>
                  <Image
                    title={name}
                    quality={"low"}
                    src={src}
                    alt={alt}
                    width={200}
                    height={100}
                    sizes="(max-width: 400px) 100vw, 300px"
                    class="w-full rounded-md object-cover transition hover:-translate-y-1 hover:shadow-xl aspect-square"
                  />
                </div>
              </article>
            </a>
          </div>
        </div>
      ))
    }
  </div>
</section>
